In [3]:
import time
import csv
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import pandas as pd
from sqlalchemy import create_engine

In [5]:
options = Options()
options.add_argument("--start-maximized")
driver = webdriver.Chrome(service=Service(), options=options)
driver.get("https://www.waze.com/es-419/live-map")
time.sleep(20)

wait = WebDriverWait(driver, 30)
data = []

try:
    acknowledge_button = wait.until(EC.element_to_be_clickable((By.CLASS_NAME, "waze-tour-tooltip__acknowledge")))
    acknowledge_button.click()
except Exception as e:
    print("No se pudo hacer clic en el bot칩n 'Entendido':", e)

In [1]:
import requests
import time
import pandas as pd
import os
from datetime import datetime
from sqlalchemy import create_engine
import json
from datetime import datetime

# Obtener la fecha y hora actual

# API Key de HERE Maps (Reempl치zala si es necesario)
API_KEY = "Oz46o3XPamyhv-6u_lwfnEkfNK4Moarw_7HSLaMeSPA"
#API_KEY = "zMvsNweQ4jp7FKQIV4WCeIeaT0rWtbM1GPzofanYGLk"

# Configuraci칩n de la conexi칩n
engine = create_engine('postgresql://juanyam:eJnNPmklNznIkZ1EJ8JB4B==@45.132.241.118:5432/siginplan')

# Leer la tabla en un DataFrame de Pandas
df = pd.read_sql(f'SELECT * FROM "99_Evaluaciones"."Trayectos_traslado_semaforos"', engine)

df = df.iloc[:2, :]
rutas = df

rutas["Origen"] = rutas["Origen "].str.replace(" ", "", regex=False)
rutas["Destino"] = rutas["Destino"].str.replace(" ", "", regex=False)

In [2]:
df

,ID,Sobre,De,a,Origen,Destino,Trayecto,distancia,Tiempo,Origen
0,1,Av.Kabah,Arco norte,Av. Tules,"21.196274, -86.873302","21.190431,-86.869885",Ida,750,0,"21.196274,-86.873302"
1,2,Av.Kabah,Av. Tules,Av. 20 Noviembre,"21.190431, -86.869885","21.178858,-86.862855",Ida,1500,0,"21.190431,-86.869885"